Flask==3.1.2
fastapi==0.128.0
uvicorn[standard]==0.39.0
python-multipart==0.0.20
python-dotenv==1.2.1
pydantic-settings==2.11.0
aiofiles==25.1.0
langchain==0.3.27
PyMuPDF==1.26.5
langchain-community==0.3.31
motor==3.7.1
pymongo==4.16.0